<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
      
        <!-- Styles -->
        <add tagPrefix="usc" src ="~/Components/Styles/CssUsc.ascx" tagName="CssUsc"/>
        <add tagPrefix="usc" src ="~/Components/Styles/CalendarCssUsc.ascx" tagName="CalendarCssUsc"/>
        <add tagPrefix="usc" src ="~/Components/Styles/JsUsc.ascx" tagName="JsUsc"/>
        <add tagPrefix="usc" src ="~/Components/Styles/CalendarJsUsc.ascx" tagName="CalendarJsUsc"/>
        
        <!-- Controls -->
        <add tagPrefix="usc" src ="~/Components/Controls/SidebarUsc.ascx" tagName="SidebarUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/NavbarUsc.ascx" tagName="NavbarUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/MainUsc.ascx" tagName="MainUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/FooterUsc.ascx" tagName="FooterUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/SettingsUsc.ascx" tagName="SettingsUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/LoginUsc.ascx" tagName="LoginUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/UserLoginUsc.ascx" tagName="UserLoginUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/UserProfileUsc.ascx" tagName="UserProfileUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/UserAvatarUsc.ascx" tagName="UserAvatarUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/MapUsc.ascx" tagName="MapUsc"/>
        <add tagPrefix="usc" src ="~/Components/Controls/WizardUsc.ascx" tagName="WizardUsc"/>

        <!-- Common -->
        <add tagPrefix="usc" src ="~/Components/Common/ButtonUsc.ascx" tagName="ButtonUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TextBoxUsc.ascx" tagName="TextBoxUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TextInputUsc.ascx" tagName="TextInputUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TextAreaUsc.ascx" tagName="TextAreaUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/LabelUsc.ascx" tagName="LabelUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/DropdownUsc.ascx" tagName="DropdownUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/CardUsc.ascx" tagName="CardUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TableUsc.ascx" tagName="TableUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/AlertUsc.ascx" tagName="AlertUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/CalendarUsc.ascx" tagName="CalendarUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/ChartBarUsc.ascx" tagName="ChartBarUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/ChartLineUsc.ascx" tagName="ChartLineUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/BigChartLineUsc.ascx" tagName="BigChartLineUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TableTaskUsc.ascx" tagName="TableTaskUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TableSimpleUsc.ascx" tagName="TableSimpleUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TableCustomUsc.ascx" tagName="TableCustomUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/DataTableUsc.ascx" tagName="DataTableUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/ModalUsc.ascx" tagName="ModalUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/SearchModalUsc.ascx" tagName="SearchModalUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/BreadcrumbUsc.ascx" tagName="BreadcrumbUsc"/>
        <add tagPrefix="usc" src ="~/Components/Common/TimeLineUsc.ascx" tagName="TimeLineUsc"/>
        
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
